*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

.metadata/.mylyn/repositories.xml.zip
.metadata/.lock
.metadata/.log
.metadata/.plugins/oracle.eclipse.tools.common.services/RemoteSystemsTempFiles/2.artifact.sjo
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/oracle.eclipse.tools.common.services/RemoteSystemsTempFiles/2.command.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/RemoteSystemsTempFiles/command.num
.metadata/.plugins/oracle.eclipse.tools.common.services/RemoteSystemsTempFiles/project.num
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.runtime/.settings/oracle.eclipse.tools.webtier.ui.prefs
.metadata/.plugins/org.eclipse.core.resources/.safetable/oracle.eclipse.tools.common.services.2
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.runtime.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
*.prefs
*.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/version.ini
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.laurie-desktop_8256/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.laurie-desktop_8256/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.laurie-desktop_8256/FP.local.files_0/node.properties